html, 
body {
    font-family: Arial;
    height: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 677px;
    padding: 30px;
}
  
.bgGradient .container {
    max-width: 746px;
}
  
#list .title {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

#list .title a {
    font-size: 24px;
    font-weight: bold;
    color: #036dbe;
    text-decoration: none;
}

#list .title a:hover {
    text-decoration: none;
    color: #000;
}

#list > div {
    margin: 0;
    font-size: 14px;
    color: #444;
    line-height: 24px;
}

#list .title,
#list .summary  {
    margin: 15px 0 0;
}

#list .next-date  {
    margin: 0 0 15px;
}

.bgGradient .entry_info {
    margin: 15px 0;
    font-size: 14px;
    color: #444;
    line-height: 24px;
}

.bgGradient #list .imagePromo {
    text-align: center;
}
  
.bgGradient #list .title {
    margin: 35px 0 0 0;
}
  
.bgGradient .summaryPromo {
    margin: 15px 0 30px !important;
}
  
#list img {
    max-width: 100%;
    box-shadow: 5px 5px 5px 0px #444;
}

#list .next-date {
    height: 60px;
}
  
.bgGradient {
    background: rgba(204,204,204,1);
    background: -moz-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(204,204,204,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#ffffff', GradientType=0 );
}

.table  {
    display: table;
    width: 100%;
    margin: 10px 0 20px;
}
  
.row   {
    display: table-row;
    font-size: 12px;
}
  
.left, 
.right, 
.middle  {
    display: table-cell;
    padding: 10px 15px;
    border: 2px solid #f1f1f1;
    text-align: center;
    background-color: #ddd;
}
  
.rowHeader div {
    background-color: #777;
    color: #fff;
    padding: 10px 15px;
    text-align: center;
    font-weight: bold;
}
  
.tableHead {
    text-align: center;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    margin: 25px 0 15px;
}
  
.tableSubHead {
    text-align: center;
    font-size: 12px;
    margin: 15px 0 17px;
}
  
.hidden {
    display: none;
    visibility: hidden;
}
  
#next_deadline {
    color: #b20000;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
}
  
@media (max-width: 479px)  {
    .bgGradient {
        background-color: #fff;
        background: none;
    }

    .container {
        margin: 0;
        padding: 0;
    }

    #drawings, 
    #entries, 
    .titlePromo, 
    .summaryPromo {
        padding: 0 30px;
    }

    #next_deadline {
        display: block;
        visibility: visible;
    }

    .tableSubHead {
        color: #b20000;
        font-weight: bold;
    }

    .row  {
        display: block;
    }

    .row .right  {
        border-bottom: 2px solid #ccc !important;
    }

    .row + .row .left  {
        border-top: none !important;
    }

    .left,
    .middle,
    .right  {
        border-right: none;
        border-left: none;
    }

    .table .td  {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: left;
        padding-left: 45%;
    }

    .titlePromo, .rowHeader {
        display: none;
    }

    .table .td::before  {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
        margin-left: -85%;
    }

    table td:last-child  {
        border-bottom: 0;
    }
}

@media (min-width: 480px)  {
    #drawings .left  {
        width: 20%;
    }
    
    #drawings .right,
    #drawings .middle  {
        width: 40%;
    }
    
    #drawings .row + .row div  {
        border-top: none;
    }
    
    #drawings .row .left,
    #drawings .row .middle  {
        border-right: 1px solid #fff;
    }
    
    #entries .left  {
        width: 33%;
    }
}
